.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
ES1.png
es2.png
old.R
Results/.DS_Store
Results/bacon.png
Results/bacon2.png
Results/eq1.tex
Results/eq1n2Extend.tex
Results/eq1n2ExtendOld.tex
Results/eq1Old.tex
Results/eq2.tex
Results/eq2Old.tex
Results/eqResults.tex
Results/ESCallawayUntreated.png
Results/ESCallawayTreated.png
Results/es.png
ES1.png
es2.png
FEI_HW2_MaximeBorel.pdf
